p {
    color:grey;
    font-family: montserrat;
    font-size: 10pt;
    margin: 10px;
    padding: 10px
}

#font {
    background-color: pink;
}

body {
    background-color: orange;
}

p:hover {
    font-size: 10pt;
    color: black;
    font-display: bold;
}